---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import { Picture } from 'astro:assets';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Lock-IT is helping IT people ',
  ignoreTitleTemplate: true,
};
import namesOnMetal from '../assets/images/names-on-metal.jpg';
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Get Started',
        href: 'https://github.com/kaanguru/lock-it',
        target: '_blank',
        icon: 'tabler:database',
      },
      { text: 'Learn more', href: '#features' },
    ]}
    image={{ src: '/img/lock-it-enter.webp', alt: ' Keep Your Data Offline with Lock-IT' }}
  >
    <Fragment slot="title">
      <span class="hidden xl:inline">Keep Your Network Devices Under Control!</span>
      Keep Your Data Offline
    </Fragment>

    <Fragment slot="subtitle">
      <span class="text-primary dark:text-white highlight">Lock-IT</span><span class="hidden sm:inline">
        <span class="font-semibold">Secure</span> and Offline is
      </span>

      management solution for your computers and printersü eliminates the worries of cloud storage by securely storing
      all your data in your browser. After logging in with your master password, you can easily add your devices and
      manage your remote connection passwords safely.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->
  <Picture class="max-w-screen-md mx-auto p-2" src={namesOnMetal} alt="enterence of lock-it app" />
  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Features"
    title="What you get with Lock-IT"
    subtitle="With offline functionality, you can access your information anytime, anywhere, while protecting your privacy."
    items={[
      {
        title: 'Lock-IT with main password',
        description: 'Lock your data when you are away from screen',
        icon: 'tabler:password',
      },
      {
        title: 'Responsive and Mobile-Friendly',
        description: 'Adapt seamlessly to different screen sizes and devices to ensure a consistent experience.',
        icon: 'tabler:picture-in-picture',
      },
      {
        title: 'Strong Schema',
        description:
          'Data schemas improves data accuracy and security while improving the user experience, efficiency and quality.',
        icon: 'tabler:adjustments-horizontal',
      },
      {
        title: 'Fast Loading Times',
        description: 'Optimized for speed to ensure a smooth user experience',
        icon: 'tabler:rocket',
      },
    ]}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to gain insights into the powerful features that AstroWind offers and how it can elevate your web development journey."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why AstroWind?',
        description:
          "Michael Knight a young loner on a crusade to champion the cause of the innocent. The helpless. The powerless in a world of criminals who operate above the law. Here he comes Here comes Speed Racer. He's a demon on wheels.",
      },
      {
        title: 'What do I need to start?',
        description:
          'Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds. Many say exploration is part of our destiny, but it’s actually our duty to future generations.',
      },
      {
        title: 'How to install the Astro + Tailwind CSS template?',
        description:
          "Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows.",
      },
      {
        title: "What's something that you don't understand?",
        description:
          "A flower in my garden, a mystery in my panties. Heart attack never stopped old Big Bear. I didn't even know we were calling him Big Bear.",
      },
      {
        title: 'What is something that you would like to try again?',
        description:
          "A business big enough that it could be listed on the NASDAQ goes belly up. Disappears! It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in.",
      },
      {
        title: 'If you could only ask one question to each person you meet, what would that question be?',
        description:
          "This is not about revenge. This is about justice. A lot of things can change in twelve years, Admiral. Well, that's certainly good to know. About four years. I got tired of hearing how young I looked.",
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Downloads', amount: '132K' },
      { title: 'Stars', amount: '24.8K' },
      { title: 'Forks', amount: '10.3K' },
      { title: 'Users', amount: '48.4K' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get Started',
        href: 'https://github.com/kaanguru/lock-it',
        target: '_blank',
        icon: 'tabler:database',
      },
    ]}
  >
    <Fragment slot="title">
      Lock<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">IT</span>
    </Fragment>

    <Fragment slot="subtitle">
      Start taking notes about computers under your responsibility <br class="hidden md:inline" />It's Free Forever!
    </Fragment>
  </CallToAction>
</Layout>
