@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
	@apply h-full overflow-hidden;
}

/* rocket theme */
@font-face {
	font-family: 'Source Sans 3 ExtraLight';
	src: url('/fonts/SourceSans3.ttf');
	font-display: swap;
}
input {
	@apply input;
}
label {
	@apply label;
}
button {
	@apply btn variant-filled;
}
